In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
file_path = '/Users/Dr. Saleema/Downloads/mav/machine learning/Dr Bennett/TAS1F06180329 (2018-10-24)-IMU.csv'

df = pd.read_csv(file_path, header = 10, index_col = 0)

In [3]:
df.head()

,Accelerometer X,Accelerometer Y,Accelerometer Z,Temperature,Gyroscope X,Gyroscope Y,Gyroscope Z,Magnetometer X,Magnetometer Y,Magnetometer Z
Timestamp,,,,,,,,,,
2018-10-24T11:20:00.0000000,0.046875,-0.008301,1.015625,31.689790,-1.403809,1.403809,-0.549316,-11.132812,7.03125,24.316405
2018-10-24T11:20:00.0100000,0.049316,-0.003906,1.016602,31.698775,-1.647949,1.342774,-0.549316,-11.132812,7.03125,24.316405
2018-10-24T11:20:00.0200000,0.045898,-0.010742,1.010254,31.695780,-2.258301,1.159668,-0.549316,-11.132812,7.03125,24.316405
2018-10-24T11:20:00.0300000,0.044922,-0.010254,1.014160,31.698775,-2.258301,1.098633,-0.549316,-11.132812,7.03125,24.316405
2018-10-24T11:20:00.0400000,0.050781,-0.011719,1.008301,31.677809,-2.380371,1.037598,-0.549316,-11.132812,7.03125,24.316405

In [5]:
df['label']=0

df.loc[15131:35131, 'label']=1
df.loc[82004:86999, 'label']=1
df.loc[43029:65455, 'label']=2
df.loc[90699:110000, 'label']=2

In [5]:
df.head()

,Accelerometer X,Accelerometer Y,Accelerometer Z,Temperature,Gyroscope X,Gyroscope Y,Gyroscope Z,Magnetometer X,Magnetometer Y,Magnetometer Z,label
Timestamp,,,,,,,,,,,
2018-10-24T11:20:00.0000000,0.046875,-0.008301,1.015625,31.689790,-1.403809,1.403809,-0.549316,-11.132812,7.03125,24.316405,0
2018-10-24T11:20:00.0100000,0.049316,-0.003906,1.016602,31.698775,-1.647949,1.342774,-0.549316,-11.132812,7.03125,24.316405,0
2018-10-24T11:20:00.0200000,0.045898,-0.010742,1.010254,31.695780,-2.258301,1.159668,-0.549316,-11.132812,7.03125,24.316405,0
2018-10-24T11:20:00.0300000,0.044922,-0.010254,1.014160,31.698775,-2.258301,1.098633,-0.549316,-11.132812,7.03125,24.316405,0
2018-10-24T11:20:00.0400000,0.050781,-0.011719,1.008301,31.677809,-2.380371,1.037598,-0.549316,-11.132812,7.03125,24.316405,0

In [6]:
df.to_csv('activity_withlabels.csv')

In [7]:
df.columns

Index(['Accelerometer X', 'Accelerometer Y', 'Accelerometer Z', 'Temperature',
       'Gyroscope X', 'Gyroscope Y', 'Gyroscope Z', 'Magnetometer X',
       'Magnetometer Y', 'Magnetometer Z', 'label'],
      dtype='object')

In [6]:
features = ['Accelerometer X', 'Accelerometer Y', 'Accelerometer Z', 'Temperature',
       'Gyroscope X', 'Gyroscope Y', 'Gyroscope Z', 'Magnetometer X',
       'Magnetometer Y', 'Magnetometer Z']

X = df[features]

y = df.label

In [7]:
from sklearn.pipeline import make_pipeline as MP
from sklearn.preprocessing import Imputer as Imp
from sklearn.neighbors import KNeighborsClassifier as KN

my_pipeline = MP(Imp(), KN(n_neighbors=1))

In [8]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(my_pipeline, X, y, scoring='accuracy')
print(scores)

[0.52638427 0.73833413 0.46106691]